/* components/pages/press/FactSheet.module.css */
.factSheet {
    color: white;
    text-align: left;
    margin: 0 auto;
    max-width: var(--container-max-width-small);
  }
  
  .factSheet p {
    position: relative;
    padding-left: 1.5em;
  }
  
  .factSheet p::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0.5em;
    width: 0.8em;
    height: 0.8em;
    background-color: white;
    border-radius: 50%;
  }
  
  .factSheet h3 {
    text-align: center;
  }
  