/* app\components\utilities\particles\WhiteOrbs\styles.module.css */
.container {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  
  .pixiContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
  }
  
  .content {
    position: relative;
    z-index: 2;
    width: 100%;
    padding: var(--spacing-section-gap) 0;
  }
