.wrapper {
    width: var(--container-width-percent);
    max-width: var(--container-max-width-large);
    margin-left: auto;
    margin-right: auto;
    padding: var(--spacing-container-padding);
    border: var(--default-border);
    border-radius: var(--border-radius-standard);
    background: transparent;
    color: white;
  }
  
  .title {
    font-size: var(--font-size-heading-primary);
    text-align: center;
    margin-bottom: 0.5rem;
  }

  .text {
    line-height: var(--line-height-body);
    margin-bottom: var(--spacing-margin-bottom);
  }
  