.introSection {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: var(--spacing-section-gap);
    margin-top: 4rem;
    margin-bottom: 4rem;
    width: 100%;
  }
  