.wrapper {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.mobileContainer {
  display: block;
}

.desktopContainer {
  display: none;
}

@media (min-width: 1100px) {
  .mobileContainer {
    display: none;
  }

  .desktopContainer {
    display: block;
  }
}
