.footerMenuContainer {
    border: var(--default-border);
    border-radius: var(--border-radius-standard);
    padding: var(--padding-medium) var(--spacing-base-px);
    display: flex;
    flex-direction: row;
    width: 80%;
    max-width: 300px;
    margin-top: 7%;
}

.leftColumn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
}

.rightColumn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.footerMenuItem {
    font-family: "AgencyB", sans-serif;
    font-size: 1.2rem;
    color: var(--foreground);
    text-decoration: none;
    padding: 6px var(--spacing-base-px);
    transition: background-color 0.75s ease-in-out, color 0s;
    border-radius: var(--border-radius-pill);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 34px;
    margin-bottom: var(--gap-standard);
    box-sizing: border-box;
}

.footerMenuItem:last-child {
    margin-bottom: 0;
}

.footerMenuItem:hover {
    background-color: var(--foreground);
    color: var(--primary-blue);
}

.rightColumn h3 {
    margin: 0;
    color: var(--foreground);
    font-family: "AgencyB", sans-serif;
    font-size: 1.5rem;
}

@media (min-width: 730px) {
    .footerMenuContainer {
        width: 400px;
        margin-top: 3%; /* Desktop: 3% space from the component above */
    }
    .rightColumn h3 {
        font-size: 2rem;
    }

}
