.container {
  position: relative;
  width: var(--container-width-narrow);
  max-width: 400px;
  aspect-ratio: 1 / 1;
  border-radius: var(--border-radius-standard);
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.75s ease-in-out;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.75s ease-in-out 0.75s;
}

.text {
  color: var(--foreground);
  font-size: 1.2rem;
  text-align: center;
  padding: var(--spacing-base-px);
  font-size: clamp(1rem, 1vw, 1.5rem);
}

.visible {
  opacity: 1;
}

.container.visible .overlay {
  opacity: 1;
}

@media (min-width: 730px) {
  .container {
    width: 400px;
  }
}
