.cardGrid {
  display: grid;
  grid-template-columns: repeat(2, 440px);
  gap: 150px;
  justify-content: center;
  margin: 40px 0;
}

@media (max-width: 1100px) {
  .cardGrid {
    grid-template-columns: 1fr;
    gap: 0px;
    margin: 0;
  }
}

.visionaryHeader {
  text-align: center;
  margin-bottom: var(--spacing-section-margin-px);
  margin-top: 8%;
  max-width: var(--container-max-width-medium);
  margin-left: auto;
  margin-right: auto;
}

.visionaryHeader h2 {
  margin-bottom: var(--spacing-section-margin-px);
}

@media (max-width: 730px) {
  .visionaryHeader {
    margin-bottom: var(--spacing-section-margin-px);
    margin-top: 20%;
  }

  .visionaryHeader p {
    width: 85%;
    margin: auto;
  }
}
