.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* centers dropdown horizontally */
  }
  
.formContainer {
    margin-top: var(--spacing-section-gap);
    width: 100%;
  }
  
