.gridContainer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 974px;
  height: 1067px;
  margin: 0 auto;
}

  
.gridCell {
  width: 487px;
  height: 487px;
  display: flex;
  align-items: top;
  justify-content: center;
  position: relative;
  z-index: 2;
  overflow: hidden;
  margin-bottom: 13px;
  padding: 0;
}

  
  .dividerSvg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
  }


  .animatedLine {
    transform-origin: center;
    opacity: 0;
  }

  .horizontalLine {
    transform: scaleX(0);
    animation: drawHorizontal 1.2s forwards cubic-bezier(0.34, 1.56, 0.64, 1) 0.1s;
  }

  @keyframes drawHorizontal {
    from {
      transform: scaleX(0);
      opacity: 0;
    }
    to {
      transform: scaleX(1);
      opacity: 1;
    }
  }

  .verticalLine {
    transform: scaleY(0);
    animation: drawVertical 1.2s forwards cubic-bezier(0.34, 1.56, 0.64, 1) 0.3s;
  }

  @keyframes drawVertical {
    from {
      transform: scaleY(0);
      opacity: 0;
    }
    to {
      transform: scaleY(1);
      opacity: 1;
    }
  }

  @media (max-width: 1100px) {
    .gridContainer {
      display: none;
    }
  }
  
  .gridCell h3 {
    font-size: 2.25rem;
  }
  