.personaBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.heading {
    text-align: center;
    opacity: 0;
    margin-bottom: var(--spacing-margin-bottom);
  }

  .imageContainer {
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 13px;
    opacity: 0;
    overflow: hidden;
}

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0;
    text-align: center;
    margin: 0;
    padding: 0 10px;
    width: var(--container-width-narrow);
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes dimImage {
    from {
      opacity: 1;
    }
    to {
      opacity: 0.3;
    }
  }

  .fadeInImage {
    animation: fadeIn 1s forwards;
    animation-delay: 1.6s;
  }

  .fadeInHeading {
    animation: fadeIn 1s forwards;
    animation-delay: 2.1s;
  }

  .fadeInCaption {
    animation: fadeIn 1s forwards;
    animation-delay: 2.6s;
  }

  .dimImage {
    animation: dimImage 1s forwards;
    animation-delay: 2.6s;
  }
  
