.heroContainer {
  position: relative;
  max-width: var(--container-max-width-large);
  width: 100%;
  border: var(--default-border);
  border-radius: var(--border-radius-standard);
  overflow: hidden;
  margin: 0 auto;
}

.heroImage {
  display: block;
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: top;
  opacity: 0;
}

.heroImage.animate {
  animation: fadeInScale 2s ease-out forwards;
}

.heroText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--font-size-heading-tertiary);
  color: var(--primary-red);
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  width: 0;
}

.heroText.animate {
  animation: typewriter 4s steps(30, end) forwards;
}

@media (min-width: 730px) {
  .heroText.animate {
    animation: typewriter 8s steps(80, end) forwards;
  }
  .heroText {
    font-size: var(--font-size-heading-primary);
  }
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 0.3;
    transform: scale(1);
  }
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}