/* app/components/pages/projects/CustomWhiteOrbs.module.css */
.container {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  
  .pixiContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
  
    /* transparent background */
    background-color: transparent;
  
    /* fade in */
    opacity: 0;
    transition: opacity 0.5s ease;
  
    /* fade mask */
    mask-image: linear-gradient(
      to bottom,
      transparent,
      black 30px,
      black calc(100% - 30px),
      transparent
    );
    -webkit-mask-image: linear-gradient(
      to bottom,
      transparent,
      black 30px,
      black calc(100% - 30px),
      transparent
    );
  }
  
  @media (max-width: 730px) {
    .pixiContainer {
      display: none;
    }
  }
  
  .content {
    position: relative;
    z-index: 2;
    width: 100%;
    padding: 0 0 2rem;
  }
  