/* \test\app\projects\jumptag\sections\branding\components\Music.module.css */
.wrapper {
  width: var(--container-width-percent);
  max-width: var(--container-max-width-large);
  margin-left: auto;
  margin-right: auto;
  padding: var(--spacing-container-padding);
  border: var(--default-border);
  border-radius: var(--border-radius-standard);
  background: transparent;
  color: white;
}

.title {
  font-size: var(--font-size-heading-primary);
  text-align: center;
  margin-bottom: var(--spacing-margin-bottom);
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  line-height: var(--line-height-body);
  margin-bottom: var(--spacing-margin-bottom);
  max-width: 100%;
}

.audioWrapper {
  width: 100%;
  margin-top: 2rem;
}


@media (min-width: 730px) {
  .content {
    flex-direction: row;
    align-items: flex-start;
  }

  .text {
    flex: 1;
    margin-right: 1.5rem;
    margin-bottom: 0;
  }

  .audioWrapper {
    max-width: 250px;
    flex-shrink: 0;
    margin-top: 0;

  }
}

