.button {
    border: none;
    outline: none;
    display: inline-block;
    font-family: AgencyB;
    border-radius: var(--border-radius-pill);
    padding: 5px 20px;
    width: 100%;
    height: 45px;
    cursor: pointer;
    transition: background-color 1s ease, color 1s ease;
    font-size: clamp(16px, 2.5vw, 20px);
    max-width: var(--container-max-width-cards);
    min-width: clamp(100px, 20vw, 150px);

  }
  
  .disabled {
    cursor: not-allowed;
    opacity: 0.7;
  }
  
