.container {
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--height-nav-bar);
  background: var(--primary-blue);
  color: var(--foreground);
  transition: transform 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  z-index: var(--z-index-nav);
  transform: translateY(0);
  padding: 0 var(--spacing-base-px);
}

.mobileLogos {
  position: relative;
  width: 100%;
  height: 100%;
}

.logomark {
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  height: 40px;
  border-radius: var(--border-radius-standard);
}

.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 40px;
  transition: height 0.3s ease;
}

.hamburgerButton {
  position: absolute;
  right: var(--spacing-base-px);
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: var(--foreground);
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 300px) {
  .logo {
    height: 27px;
  }
}

.desktopLogo,
.desktopMenuButtons {
  display: none;
}

@media (min-width: 800px) {
  .mobileLogos {
    display: none;
  }

  .desktopLogo {
    display: block;
    position: absolute;
    left: var(--spacing-base-px);
    top: 50%;
    transform: translateY(-50%);
  }

  .combinedLogo {
    height: 40px;
    width: auto;
    border-radius: var(--border-radius-standard);
  }

  .desktopMenuButtons {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .desktopButtonsContainer {
    display: flex;
    gap: 10px;
  }

  .desktopButton {
    padding: 6px var(--gap-standard);
    border-radius: var(--border-radius-pill);
    background: var(--primary-blue);
    color: var(--foreground);
    text-decoration: none;
    transition: background 0.75s, color 0s;
  }

  .desktopButton:hover {
    background: var(--foreground);
    color: var(--primary-blue);
  }

  .container {
    justify-content: space-between;
  }
}
