.footerLegalContainer {
    width: var(--container-width-narrow);
    max-width: var(--container-max-width-cards);
    margin: 0 auto;
    text-align: center;
    font-family: "Agency FB", sans-serif;
    font-size: 1.2rem;
    color: var(--foreground);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
    padding-bottom: 7px;
    margin-top: 14%;
}

.legalLinks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-width: 700px;
}

.legalLink {
    text-decoration: none;
    color: var(--foreground);
    transition: opacity 0.3s ease-in-out;
    font-family: agencyb, sans-serif;
}

.legalLink:hover {
    opacity: 0.7;
}

.copyright {
    width: 100%;
    margin-top: 2vh;
    font-family: agencyb, sans-serif;
}

.siteBuilt {
    margin-top: auto;
}

.siteBuilt a {
    text-decoration: underline;
    color: var(--foreground);
    transition: opacity 0.3s ease-in-out;
    font-family: agencyb, sans-serif;
}

.siteBuilt a:hover {
    opacity: 0.7;
}

/* Desktop adjustments */
@media (min-width: 730px) {
    .footerLegalContainer {
        max-width: 700px;
        margin-top: 7%; /* Halved from 14% */
    }

    .legalLinks {
        justify-content: space-between;
    }
}
