.wrapper {
    width: 100%;
    max-width: var(--container-max-width-large);
    margin-left: auto;
    margin-right: auto;
  }

  .heading {
    color: var(--primary-red);
    text-align: center;
    font-size: var(--font-size-heading-tertiary);
    margin-bottom: var(--spacing-margin-bottom);
  }
  
  .tableWrapper {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  
  .table {
    border-collapse: collapse;
    min-width: var(--container-max-width-small);
    width: auto; /* let col widths take effect */
  }
  
  col.colLabel { width: 25%; }
  col.colMain { width: 33.3333%; } /* 1/3 bigger than label */
  
  .cellHeader {
    border: 2px solid var(--secondary-blue);
    padding: var(--spacing-margin-bottom);
    text-align: center;
    color: var(--foreground);
    font-size: 1.25em;
  }

  .cellLabel {
    border: 2px solid var(--secondary-blue);
    border-right: 2px solid var(--secondary-blue);
    padding: var(--spacing-margin-bottom);
    text-align: center;
    vertical-align: middle;
    color: var(--foreground);
  }

  .cell {
    border: 2px solid var(--secondary-blue);
    padding: var(--spacing-margin-bottom);
    text-align: left;
    vertical-align: top;
    color: var(--foreground);
  }
  
  /* typography */
  .cellLabel p {
    font-family: var(--font-body);
    margin: 0;
    line-height: var(--line-height-body);
    font-size: 1em;
  }

  .cell p {
    font-family: var(--font-body);
    margin: 0;
    line-height: var(--line-height-body);
    font-size: 0.6667em; /* 1/3 smaller */
  }
  