/* FILE PATH: app\components\utilities\sections\RedHeader.module.css */
.wrapper {
    text-align: center;
    margin-top: 16%;
    margin-bottom: 4%;
    width: var(--container-width-narrow);
    margin-left: auto;
    margin-right: auto;
  }
  
  .heading {
    color: red;
    font-size: var(--font-size-heading-primary);
    position: relative;
    display: inline-block;
    padding-top: var(--spacing-element-gap);
  }
  
  .heading::before {
    content: '';
    display: block;
    width: 80%;
    max-width: 400px;
    height: 2px;
    background-color: var(--secondary-blue);
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  @media (max-width: 730px) {
    .wrapper {
      margin-top: 35%;
      margin-bottom: 10%;
    }
    .heading {
      font-size: var(--font-size-heading-secondary);
    }
  }
  
