.headingWrapper {
    max-width: 1200px;
    margin: 0 auto;
    
}

  
.heading {
    text-align: center;
    font-size: var(--font-size-heading-secondary);
  }
  
  @media (min-width: 730px) {
    .heading {
      font-size: var(--font-size-heading-primary);
    }
  }
  
