.graphContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  
  .blocks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  
  @media (min-width: 730px) {
    .blocks {
      margin-top: 2rem;
    }
  }
  
  .blockWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .block {
    width: 80%;
    max-width: 300px;
    height: auto;
  }
  
  .line {
    fill: none;
    stroke: white;
    stroke-width: 2;
    stroke-dasharray: 260;
    stroke-dashoffset: 260;
    transition: stroke-dashoffset 1s ease-out;
  }
  
  .drawBorder {
    stroke-dashoffset: 0;
  }
  
  .text {
    opacity: 0;
    transition: opacity 0.3s ease-out;
  }
  
  .showText {
    opacity: 1;
  }
  
  .arrow {
    fill: none;
    stroke: white;
    stroke-width: 2;
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    transition: stroke-dashoffset 1s ease-out;
  }
  
  .drawArrow {
    stroke-dashoffset: 0;
  }
  