
  .container {
    width: 100%;
    max-width: 100vw;
    background: var(--black);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
  }
  
  .borderTop,
  .borderBottom {
    position: absolute;
    width: 100%;
    height: 3px;
    background: red;
  }
  
  .borderTop {
    top: 0;
  }
  
  .borderBottom {
    bottom: 0;
  }
  
  .title {
    color: var(--foreground);
    font-size: 2rem;
    text-align: center;
  }
  
  /* Breakpoints */
  @media (min-width: 730px) {
    .container {
      height: 125px; /* Reduced from 250px */
    }
    .title {
      font-size: 3rem;
    }
  }
  
  @media (max-width: 729px) {
    .container {
      height: 75px; /* Reduced from 150px */
    }
    .title {
      font-size: 1.5rem;
    }
  }
  
  /* Glitch Effect */
  .glitch {
    font-size: 2rem;
    position: relative;
    color: var(--foreground);
    animation: glitch 1s infinite;
  }
  
  @keyframes glitch {
    0% {
      text-shadow: 2px 2px red;
    }
    50% {
      text-shadow: -2px -2px blue;
    }
    100% {
      text-shadow: 2px 2px red;
    }
  }
  
