.variant {
  background-color: var(--black);
  color: var(--foreground);
  border: 2px solid var(--black);
}

.variant:hover {
  background-color: transparent;
}

.variant:active {
  background-color: var(--black);
  transform: scale(0.98);
}

.variant:disabled {
  background-color: transparent;
  cursor: not-allowed;
  opacity: 0.6;
}
