.cardDrawContainer {
    position: relative;
    max-width: var(--container-max-width-cards);
    width: 92vw;
    margin: 0 auto;
    border-radius: var(--border-radius-standard);
    overflow: hidden;
  }
  
  .svgContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  
.svgPath {
    fill: none;
    stroke: var(--foreground);
    stroke-width: 1;
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
  }
  
  .animatePathLeft {
    animation: drawPath 5s forwards;
  }
  
  .animatePathRight {
    animation: drawPath 5s forwards;
  }
  
  @keyframes drawPath {
    to {
      stroke-dashoffset: 0;
    }
  }
  
  .imageContainer {
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  
  .imageVisible {
    opacity: 0.3;
    transition: opacity 1s ease-in;
  }
  
.textContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    opacity: 0;
    padding: var(--spacing-base-px);
    box-sizing: border-box;
    text-align: center;
  }
  
  .textVisible {
    opacity: 1;
    transition: opacity 1s ease-in;
    transition-delay: 0.5s;
  }
  
.cardText {
    color: var(--foreground);
    font-size: clamp(16px, 4vw, 24px);
  }
  
  @media (max-width: 768px) {
    .cardDrawContainer {
      margin: var(--spacing-base-px) auto;
    }
  }
