.container {
    width: 100%;
    margin-top: 2rem;
    /* Reserve space for the image to prevent layout shift */
    min-height: 210px; /* Calculated as 60% of 350px */
    display: flex;
    justify-content: center;
  }
  
  .wrapper {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 350px;
    aspect-ratio: 1 / 1;
  }
  
  .visible {
    opacity: 1;
  }
  
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-standard);
    display: block;
  }