

.section {
  margin-top: 4rem;
  padding: 2rem 0;
  text-align: center;
}

.header {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.subheader {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

@media (max-width: 549px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-gap-xl);
    margin-top: var(--spacing-base-px);
    margin-bottom: var(--spacing-gap-xl);
    justify-items: center;
  }
  .grid > * {
    max-width: 450px;
    width: 100%;
  }
}

@media (min-width: 550px) and (max-width: 959px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-gap-xl);
    margin-top: 3%;
    margin-bottom: 2rem;
    justify-items: center;
  }
  .grid > * {
    max-width: 450px;
    width: 100%;
  }
}

@media (min-width: 960px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-gap-xl);
    margin-top: 3%;
    margin-bottom: 2rem;
  }
  .grid > * {
    width: 100%;
  }
}

.moreInfo {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.infoText {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.divider {
  width: 80%;
  height: 2px;
  background-color: var(--secondary-blue);
  margin: 0 auto;
}
