.itemWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .iconWrapper {
    margin-bottom: var(--spacing-base-px);
  }

  .icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
  }

  .container {
    position: relative;
    width: 100%;
    aspect-ratio: 1;
    border: var(--default-border);
    border-radius: var(--border-radius-medium);
    overflow: hidden;
    text-decoration: none;
  }

  .header {
    position: absolute;
    top: var(--spacing-base-px);
    left: 0;
    right: 0;
    height: 40px;
    z-index: 3;
    opacity: 0;
    transform: translateY(var(--spacing-base-px));
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title {
    font-size: 2.4rem;
    margin: 0;
    text-decoration: underline;
    white-space: nowrap;
  }

  .description {
    position: absolute;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 100%;
    margin: 0;
    padding: 0 15px;
    font-size: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    word-wrap: break-word;
    box-sizing: border-box;
    z-index: 2;
  }
  
  .bgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transform: scale(1);
    transition: transform 0.3s ease-in-out !important;
    z-index: 1;
  }

  .container:hover .bgImage {
    transform: scale(1.1) !important;
  }

  .container.animate .header {
    animation: fadeInUp 0.5s ease forwards;
  }

  .container.animate .description {
    animation: fadeInUp 0.5s ease 0.2s forwards;
  }

  .container.animate .bgImage {
    animation: fadeIn 1s ease forwards;
  }

  @keyframes fadeInUp {
    from { opacity: 0; transform: translateY(var(--spacing-base-px)); }
    to { opacity: 1; transform: translateY(0); }
  }

  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 0.1; }
  }

  @media (min-width: 960px) {
    .title {
      font-size: clamp(2.4rem, 2vw + 2.4rem, 2rem);
    }
    .description {
      font-size: 12px;
    }
  }

    @media (min-width: 1232px) {
        .title {
          font-size: clamp(2.4rem, 2vw + 2.4rem, 2rem);
        }
        .description {
          font-size: clamp(1rem, 1.5vw + 1rem, .5rem);
        }
      }
      
      @media (max-width: 350px) {

        .container {
          height: 500px;
          aspect-ratio: unset;       
        }
      }
      @media (max-width: 300px) {

        .container {
          height: 600px;
          aspect-ratio: unset;       
        }
      }