
  
  .sliderContainer {
    position: relative;
    border: var(--default-border);
    border-radius: var(--border-radius-standard);
    overflow: hidden;
    aspect-ratio: 1 / 1;
    
  }
  

  .background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.6s ease, transform 0.6s ease;
  }

  .visible {
    opacity: 0.1;
    transform: scale(1);
  }

  .slideWrapper {
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 100%;
  }

  .slideTrack {
    display: flex;
    height: 100%;
  }

  .slide {
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .titleContainer {
    padding: 16px;
    text-align: center;
  }

  .title {
    margin: 0;
    font-size: clamp(1rem, 2vw + 1rem, 1.5rem);
  }

  .bodyContainer {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 32px;
    position: relative;
  }

  .text {
    margin: 0 auto;
    max-width: 95%;
    font-size: clamp(0.875rem, 1vw + 0.875rem, .7rem);
  }

   @media (max-width: 730px) {
    .text {
      font-size: clamp(.7rem, 2vw + 2.4rem, .5rem);
    }

    .bodyContainer {
      padding: 0 16px;
      
    }
  }

  @media (min-width: 550px) and (max-width: 729px)
{
  .text {
  font-size: clamp(0.875rem, 1vw, 1rem);
  }
}

 @media (max-width: 350px) {
  
  .sliderContainer {
        aspect-ratio: unset;
        height: 400px;
        margin-bottom: 0px;
    
  }
  .sliderContainer:last-of-type {
    margin-bottom: 600px;
 }
}

  .nav {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    display: flex;
    gap: 8px;
  }

  .navCircle {
    width: 16px;
    height: 16px;
    border: var(--default-border);
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
  }

  .active {
    background: var(--secondary-blue);
  }

  .arrowRight {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    display: none;
    z-index: 2;
  }

.disabled {
  pointer-events: none;
}

.arrowLeft {
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  display: none;
  z-index: 2;
}

  @media (min-width: 731px) {
    .arrowRight {
      display: block;
    }
    .arrowLeft {
      display: block;
    }
  }
  
  